<div :id="groupId + '-' + item.id" class="accordion-item" :class="{'is-active': item.active}">
	<dt class="accordion-item-title">
		<button @click="toggle" class="accordion-item-trigger">
			<h6 class="accordion-item-title-text">{{item.title}}</h6>
			<span class="accordion-item-trigger-icon"></span>
		</button>
	</dt>
	<transition
		name="accordion-item"
		@enter="startTransition"
		@after-enter="endTransition"
		@before-leave="startTransition"
		@after-leave="endTransition">
		<dd v-if="item.active" class="accordion-item-details">
			<div v-html="item.details" class="accordion-item-details-inner"></div>
			<hr>
			
			<div v-if='typeof item.more !== "undefined"'>
				<span class="more-content-icon" :class="{ expanded: moreContentExpanded == true }">&#9656;</span>
				<button
				class="toggleMoreContent"
				v-on:click="showMore" >
					View 
					<span v-if="moreContentExpanded">Less</span>
					<span v-else>More</span>
				</button>
			</div>
			<div
			class="accordion-item-details-inner more"
			:class="{ expanded: moreContentExpanded == true }">

				<div v-html="item.more">
				</div>

				<div
				v-if='item.videoLinks'
				class="video-player">
					
					<iframe :name='"playlist-" + _uid' width="560" height="315" :src="item.videoLinks[0].url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					</iframe>

					<ul class="playlist">
						<li v-for="item in item.videoLinks">
							<a :target='"playlist-" + _uid' :href="item.url">{{item.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</dd>
	</transition>
</div>
  