.accordion-item-trigger,
.accordion-item-details-inner {
  // padding: 0.75rem 1.25rem;
}

.accordion-item-title {
  position: relative;
  border-bottom: 1px solid var(--divider-soft-color);

  .accordion-item-trigger {
    width: 100%;
    text-align: left;
    padding: 0.25em 0;
    background-color: transparent;
    border: none;

    .accordion-item-trigger-icon {
      $size: 5px;
      display: block;
      position: absolute;
      top: 0; right: 1.25rem; bottom: 0;
      margin: auto;
      width: $size;
      height: $size;
      border-right: 1px solid var(--body-txt-color-disabled);
      border-bottom: 1px solid var(--body-txt-color-disabled);
      transform: translateY(-$size / 4) rotate(45deg);
      transition: transform 0.2s ease;
      
      .is-active & {
        transform: translateY($size / 4) rotate(225deg);
      }
    }
  }
  // __________________________________
  // hover over .accordion-item-title
  &:hover {
    // border-bottom: 1px solid var(--divider-medium-color);

    .accordion-item-trigger {
      background-color: var(--body-bg-color-hover);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,var(--body-bg-color-hover) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      .accordion-item-trigger-icon {
        border-right: 1px solid var(--body-txt-color);
        border-bottom: 1px solid var(--body-txt-color);
      }
    }
  }
}
.accordion-item-details {
  overflow: hidden;
  margin-top: var(--body-baseline);
  // background-color: whitesmoke;
}
.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}

// ___________
// Reveal more

.toggleMoreContent {
  background-color: transparent;
  box-shadow: 0 1px var(--body-txt-color);
  font-weight: 500;
  // text-decoration: underline;
  // color: var(--secondary-cta-color);
}
.more-content-icon {
  position: absolute;
  margin-left: -1.25rem;
  transform-origin: center;
  transition: transform 0.15s ease-out;
}
.more-content-icon.expanded {
  position: absolute;
  margin-left: -1.25rem;
  transform: rotate(90deg);
}
.accordion-item-details-inner.more {
  // background-color: var(--body-bg-color-alt);
  max-height: 0;
  padding-top: var(--body-baseline);
  transition:
    max-height 0.15s ease-out,
    border-top 0.15s ease-out;
  overflow: hidden;
  border-top: thin dotted transparent;

}
.accordion-item-details-inner.more.expanded {
    max-height: 1500px;
    transition: max-height 0.25s ease-in;
    border-top: thin dotted var(--body-txt-color-disabled);
}

// ______
// Videos

.video-player {
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  background-color: var(--body-bg-color-disabled);
  border: thin solid var(--divider-soft-color);

  iframe {
    width: 50%;
      height: auto;
  }
  .playlist {
    margin: 0;
    font-size: var(--body-sm-font-size);

    li {
      margin: 0;
      padding: var(--space-size-2);
      background-color: var(--body-bg-color-alt);
      border-bottom: thin solid var(--divider-soft-color);

      a {
        color: var(--body-txt-color-secondary);
      }
    }
  }
}