.accordion-item-trigger,
.accordion-item-details-inner {
  // padding: 0.75rem 1.25rem;
}

.accordion-item-title {
  position: relative;
  border-bottom: 1px dotted var(--divider-medium-color);

  .accordion-item-trigger {
    width: 100%;
    text-align: left;
    padding: 0.25em 0;
    background-color: transparent;
    border: none;

    .accordion-item-trigger-icon {
      $size: 5px;
      display: block;
      position: absolute;
      top: 0; right: 1.25rem; bottom: 0;
      margin: auto;
      width: $size;
      height: $size;
      border-right: 1px solid var(--body-txt-color-disabled);
      border-bottom: 1px solid var(--body-txt-color-disabled);
      transform: translateY(-$size / 4) rotate(-45deg);
      transition: transform 0.2s ease;
      
      .is-active & {
        transform: translateY($size / 4) rotate(45deg);
      }
    }
  }
  // __________________________________
  // hover over .accordion-item-title
  &:hover {
    // border-bottom: 1px solid var(--divider-medium-color);

    .accordion-item-trigger {
      background-color: var(--body-bg-color-hover);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,var(--body-bg-color-hover) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      .accordion-item-trigger-icon {
        border-right: 1px solid var(--body-txt-color);
        border-bottom: 1px solid var(--body-txt-color);
      }
    }
  }
}
.accordion-item-details {
  overflow: hidden;
  margin-top: var(--body-baseline);
  // background-color: whitesmoke;
}
.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}

// ___________
// Reveal more

.toggleMoreContent {
  background-color: transparent;
  box-shadow: 0 1px var(--body-txt-color);
  font-weight: 500;
  // text-decoration: underline;
  // color: var(--secondary-cta-color);
}
.more-content-icon {
  position: absolute;
  margin-left: -1.25rem;
  transform-origin: center;
  transition: transform 0.15s ease-out;
}
.more-content-icon.expanded {
  position: absolute;
  margin-left: -1.25rem;
  transform: rotate(90deg);
}
.accordion-item-details-inner.more {
  // background-color: var(--body-bg-color-alt);
  max-height: 0;
  padding-top: var(--body-baseline);
  transition:
    max-height 0.15s ease-out,
    border-top 0.15s ease-out;
  overflow: hidden;
  border-top: thin dotted transparent;

}
.accordion-item-details-inner.more.expanded {
    max-height: 2500px;
    transition: max-height 0.25s ease-in;
    border-top: thin dotted var(--body-txt-color-disabled);
}

// ______________
// Example Images

.example-images {
  .example {
    .example-image {
      width: 100%;
      height: auto;
    }
    .source {
      font-size: var(--body-sm-font-size);
      text-align: right;
    }
  }
}

// ____________
// Video Player

.video-player {
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  background-color: var(--body-bg-color-disabled);
  border: thin solid var(--divider-soft-color);
  // box-shadow: 0 0 0 1px var(--divider-soft-color) inset;
  margin-bottom: var(--body-baseline);

  iframe {
    width: 50%;
    height: auto;
  }
  .playlist {
    width: 50%;
    margin: 0;
    font-size: var(--body-sm-font-size);

    li {
      margin: 0;
      padding: 0;
      background-color: var(--body-bg-color-alt);
      border-bottom: thin solid var(--divider-soft-color);

      &.selected {
        background-color: var(--body-bg-color-active);
        a {
          color: var(--body-txt-color);
        }
      }

      a {
        display: block;
        padding: var(--space-size-2);
        color: var(--body-txt-color-secondary);

        &:hover {
          background-color: var(--body-bg-color-hover);
          text-decoration: none;;
        }
      }
    }
  }
}

// _________
// Resources

.resources {

  .resources-list {
    margin-top: .75rem;

    .resource {
      margin-bottom: .5rem;
      a {
        display: flex;
        align-items: center;

        .icon {
          display: inline-block;
          flex-basis: calc(var(--body-baseline) * 2);
          flex-grow: 0;
          flex-shrink: 0;
          height: calc(var(--body-baseline) * 2);
          box-shadow: 0 0 0 1px var(--divider-soft-color) inset;
          border-radius: 6px;
          margin-right: .75rem;
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: center;
        }

        &:hover {
          .icon {
            background-color: var(--body-bg-color-hover);
          }
        }
      }
      &.sketch { .icon { background-image: url("images/sketch@2x.png"); }}
      &.figma { .icon { background-image: url("images/figma@2x.png"); }}
      &.docs { .icon { background-image: url("images/docs@2x.png"); }}
      &.sheets { .icon { background-image: url("images/sheets@2x.png"); }}
      &.gdrive { .icon { background-image: url("images/gdrive@2x.png"); }}
      &.word { .icon { background-image: url("images/word@2x.png"); }}
      &.svg { .icon { background-image: url("images/svg@2x.png"); }}
      &.word { .icon { background-image: url("images/word@2x.png"); }}
      &.excel { .icon { background-image: url("images/excel@2x.png"); }}
      &.app { .icon { background-image: url("images/app@2x.png"); }}
      &.web { .icon { background-image: url("images/web@2x.png"); }}
    }
  }
}