@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url('ProximaNova-SemiboldIt.eot');
  src: url('ProximaNova-SemiboldIt.woff2') format('woff2'),
       url('ProximaNova-SemiboldIt.woff') format('woff'),
       url('ProximaNova-SemiboldIt.ttf') format('truetype'),
       url('ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg'),
       url('ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

