@font-face {
  font-family: 'TiemposFine-Semibold';
  src: url('TiemposFine-Semibold.eot');
  src: url('TiemposFine-Semibold.eot?#iefix') format('embedded-opentype'),
       url('TiemposFine-Semibold.svg#TiemposFine-Semibold') format('svg'),
       url('TiemposFine-Semibold.ttf') format('truetype'),
       url('TiemposFine-Semibold.woff') format('woff'),
       url('TiemposFine-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

