@font-face {
  font-family: 'NocturneSerif';
  src: url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.eot');
  src: url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.svg#NocturneSerif-SemiBold') format('svg'),
       url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.ttf') format('truetype'),
       url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.woff') format('woff'),
       url('NocturneSerif-SemiBold/NocturneSerif-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NocturneSerif';
  src: url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.eot');
  src: url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
       url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.svg#NocturneSerif-SemiBolditalic') format('svg'),
       url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.ttf') format('truetype'),
       url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.woff') format('woff'),
       url('NocturneSerif-SemiBolditalic/NocturneSerif-SemiBolditalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}



