@font-face {
  font-family: 'Bely Display W00 Regular';
  src: url('Bely Display W00 Regular.eot');
  src: url('Bely Display W00 Regular.eot?#iefix') format('embedded-opentype'),
       url('Bely Display W00 Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BelyDisplayW00-Regular';
  src: url('BelyDisplayW00-Regular.svg#BelyDisplayW00-Regular') format('svg'),
       url('BelyDisplayW00-Regular.ttf') format('truetype'),
       url('BelyDisplayW00-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

