@font-face {
  font-family: 'ChronicleDisplay-Black';
  src: url('ChronicleDisplay-Black.eot');
  src: url('ChronicleDisplay-Black.woff2') format('woff2'),
       url('ChronicleDisplay-Black.woff') format('woff'),
       url('ChronicleDisplay-Black.ttf') format('truetype'),
       url('ChronicleDisplay-Black.svg#ChronicleDisplay-Black') format('svg'),
       url('ChronicleDisplay-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

